$secondary_dark:#67CFF0;
$secondary_light:#73D2F1;

$red_dark:#F87A7C;
$red_light:#F89098;

$green_dark: #47ce8a;
$highlight: #FFFD45;
$primary_dark:#262F50;
$primary:#393F5D;
$primary_light:#4F576D;

$accent:#9EA4B3;
$light_text:#E2E4E9;
$almost_white:#F9F9F8;
$main_bg: #f3f3f1;

$light_gray: #e4e4e4;
$light_boarder: #e7e7e7;

$primary_text:rgba(0, 0, 0, 0.7);
$primary_text_light:rgba(0, 0, 0, 0.4);

$stars: #ffcb0c;